USE [master]
GO
/****** Object:  Database [EMS2]    Script Date: 12/20/2022 6:20:26 PM ******/
CREATE DATABASE [EMS2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMS2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\EMS2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMS2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\EMS2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMS2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMS2]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/20/2022 6:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/20/2022 6:20:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[JoinedDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name], [IsActive]) VALUES (1, N'IT Dept', 1)
INSERT [dbo].[Department] ([Id], [Name], [IsActive]) VALUES (2, N'CSE', 1)
INSERT [dbo].[Department] ([Id], [Name], [IsActive]) VALUES (3, N'Mechanical', 0)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Email], [DateOfBirth], [Age], [JoinedDate], [IsActive], [DepartmentId]) VALUES (1, N'Janaki', N'Chaniyara', N'chaniyarajay@gmail.com', CAST(N'2000-06-09' AS Date), 22, CAST(N'2022-12-22' AS Date), 1, 1)
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Email], [DateOfBirth], [Age], [JoinedDate], [IsActive], [DepartmentId]) VALUES (3, N'Aditi', N'Patel', N'aditipatel@gmail.com', CAST(N'2000-05-04' AS Date), 22, CAST(N'2022-12-13' AS Date), 1, 1)
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [Email], [DateOfBirth], [Age], [JoinedDate], [IsActive], [DepartmentId]) VALUES (4, N'Jay', N'Chaniyara', N'chaniyarajay@gmail.com', CAST(N'2000-07-18' AS Date), 23, CAST(N'2022-12-22' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
