// label {
//     display: inline-block;
//     width: 1px;
//     white-space: nowrap;
//     text-align: right;
// }

// span {
//     display: table-cell;
//     padding: 0 4px 0 6px;
//     margin-right: 100px;
// }

// input {
//     width: 400%;
// }

.content {
    margin: 10px;
}

.actionButton {
    margin: 5px;
}

.actionButtonRight {
    margin: 5px;
    float: right;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
}